.cartBtn {
    border-radius: 50px;
    background-color: inherit;
    font-size: 0rem;
    margin: 0.5rem 0 0.5rem 0;
    border: 1.5px solid;
    position: relative;

    &Svg {
        width: 2.0rem;
        height: 2.0rem;
        margin: 0.5rem;
    }

    &Counter {
        position: absolute;
        display: flex;
        justify-content: center;
        background-color: rgb(244, 16, 16);
        color: white;
        font-size: 1rem;
        border-radius: 28px;
        width: 1.5rem;
        height: 1.5rem;
        line-height: 1.5rem;
        bottom: 0;
        right: 0;
        transform: translate(25%, 25%);
    }
}
