@mixin btn {
    background-color: rgb(0, 111, 247);
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
}

@mixin btn-hover {
    transition-duration: 0.2s;
    background-color: rgb(48, 140, 253);
}

@mixin btn-active {
    transition-duration: 0.1s;
    transform: scale(0.9);
}

.card {
    background-color: white;
    margin: 1rem;

    &Images {
        height: 25rem;
        width: 25rem;
        object-fit: cover;
    }
}

.info {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    

    &Label {
        font-size: 1.5rem;
        text-transform:capitalize;
        font-weight: 600;
    }

    &Price {
        color: rgb(81, 81, 81);
        font-weight: 600;
    }

}

.cardBottom {
    display: flex;
    justify-content: center;
    margin: 2rem 1rem 2rem 1rem;
}

.addToCart {
    @include btn;
    width: 100%;
    font-size: 1rem;
    padding: 1rem 0;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.8);

    &:hover {
        @include btn-hover;
    }
    
    &:active {
        @include btn-active;
    }
}

.cart {
    display: flex;
    flex-direction: column;

    &Top {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        &Quantity {
            font-size: 1.3rem;
            margin: 0 0.5rem;
            font-weight: 600;
        }

        &Btn {
            @include btn;
            width: 2.5rem;
            height: 2.5rem;
            font-size: 1.5rem;
        }

        &Btn:hover {
            @include btn-hover;
        }

        &Btn:active {
            @include btn-active;
        }
    }

    &Bottom {
        display: flex;
        align-items: center;
        flex-direction: column;

        &Remove {
            background-color: rgb(255, 38, 38);
            border: none;
            border-radius: 5px;
            padding: 0.4rem;
            color: white;
        }
    }
}



