@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Raleway&family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  /* font-family: 'Neucha', cursive; */
  font-family: 'Raleway', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
}

